{{>/layout/main-header}}

<input type="hidden" id="userId" value="{{principal.id}}">

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="d-flex justify-content-center">
                <img src="https://i1.sndcdn.com/avatars-000373392764-zp0p80-t500x500.jpg"
                    class="my_profile_rounded_img_btn_lg" id="profile-img-btn_lg">
                <form id="fileForm">
                    <input type="file" class="my_hidden" id="profile-img-input" name="profileImg" />
                </form>
            </div>

            <!-- 에러 박스 시작 -->
            <div class="my_error_box my_hidden">

            </div>
            <!-- 에러 박스 끝 -->

            <!-- 수정은 PUT 요청이니까 fetch 사용해야함 -->
            <form>
                <input id="username" class="my_auth_form_box_input" type="text"
                    value="{{#principal}}{{username}}{{/principal}}" maxlength="20" required readonly />
                <input id="password" class="my_auth_form_box_input" type="password" placeholder="기존 비밀번호" maxlength="20"
                    required />
                <input id="same-password" class="my_auth_form_box_input" type="password" placeholder="수정 비밀번호"
                    maxlength="20" required />
                <input class="my_auth_form_box_input" type="email" name="email"
                    value="{{#principal}}{{email}}{{/principal}}" maxlength="60" required readonly />
                <button type="submit" class="my_secondary_btn">회원정보 수정</button>
            </form>
            <div class="my_auth_form_box_link">
                <div><a href="/login-form">로그인</a></div>
                <div><a href="/user/password-reset-form">비밀번호 찾기</a></div>
            </div>
        </div>
    </div>
    <br />
</div>

<script>
    $("#profile-img-btn_lg").click(() => {
        $("#profile-img-input").click(); // 파일 선택창이 뜬다
    });

    $("#profile-img-input").change((event) => {
        profileImgUpdate(event);
    }); // 파일을 선택하면

    async function profileImgUpdate(event) {
        // img/png 이런 형식의 파일
        let f = event.target.files[0];

        if (!f.type.match("image.*")) {
            alert("이미지를 선택해주세요");
            return;
        }

        let userId = $("#userId").val();

        // Multipart File => header 필요 없음
        // multipart/form-data로 파일을 전송하는 것이 편하다
        // form 태그 자바스크립트 객체 찾기 => fileForm
        // form 태그 key:value 데이터 변화 => formData

        let fileForm = $("fileForm")[0];
        let formData = new FormData(fileForm);

        let response = await fetch(`/s/api/user/${userId}/profile-img`, {
            method: "put",
            body: "formData"
        });

        if (response.status == 200) {
            imgPreview(event);
        } else {
            alert("프로필 변경을 실패했습니다");
        }
    }

    function imgPreview(event) {
        let reader = new FileReader(); // 비동기 실행

        // callback (파일 이미지가 객체화되면)
        reader.onload = (event) => {
            // console.log(event.target.result);
            $("#profile-img-btn_lg").attr("src", event.target.result);
            $("profile-img-btn").attr("src", event.target.result);
        }

        reader.readAsDataURL(f); // Binary를 Base64 Encode 문자열로 반환
    }

</script>

{{>/layout/footer}}