/* PrimaryColor */
.my_bg_primary {
    background-color: white;
}

.my_bg_success {
    background-color: #f9a025;
}

.my_bg_active {
    background-color: #f36f63;
}

.my_bg_secondary {
    background-color: #b9b9b9;
}

.my_bg_error {
    background-color: #ff958c;
}

.my_text_primary {
    color: rgb(25, 25, 25);
} 
