.my_paging_number_box {
    outline: 1px solid #b9b9b9;
    padding: 0 5px;
}

.my_paging_number_box:hover {
    background-color: #f9a025;
}


.my_post_list_item {
    display: flex;
    border: 1px solid #b9b9b9;
    margin-bottom: 30px;
    padding: 5px;
}

.my_post_list_item_left {
    width: 200px;
    padding: 15px;
}

.my_post_list_item_right {
    flex:1;
    padding: 15px;
}

.my_post_list_item_right div {
    margin-bottom: 5px;
} 

